<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="/home"><img src="/img/nav.svg" class="nav-icon">News App Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {{#if user}}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/news/add">Add News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/register">Add User</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="float:right;">
      <li class="nav-item">
        <a class="nav-link" href="/user/profile"><img src="/img/pro_pic.svg" alt="profile" class="nav-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout"><img src="/img/logout.png" alt="logout" class="nav-icon"></a>
      </li>
    </ul>
    {{else}}
    <ul class="navbar-nav ml-auto" style="float:right;">
      <li class="nav-item">
        <a class="nav-link" href="/"><img src="/img/login.png" alt="addlogo" class="nav-icon" data-toggle="modal"
            data-target="#modalLoginForm"></a>
      </li>
    </ul>
    {{/if}}
  </div>
</nav>