<div class="card text-center mx-auto md-auto card-width" style="margin-top: 120px;margin-bottom: 120px;">
  <img class="card-img-top" src="/img/banner1.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">This platform allows to log your all ideas that
        related on your career, education or anything that valuble to your life in easy way</p>
  </div>
  <div class="card-footer">
      <p><b>All Rights Reserved</b></p>
      <p>Version 0.1</p>
  </div>
</div>
