
<div class="card text-center mx-auto md-auto">
  <img class="card-img-top" src="/img/idea.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">This platform allows to log your all ideas that
        related on your career, education or anything that valuble to your life in easy way</p>
  </div>
  <div class="card-footer">
      <p><b>Version 1.0.0</b></p>
  </div>
</div>
