<div class="jumbotron text-center">
  <h1 class="display-4">Hello, Buddy!</h1>
  <p class="lead">What do you think? Do you have any ideas about anything that related to your life?
      Then why are you waiting? </p>
  <hr class="my-4">
  <p>You can put your all ideas here</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>