.card-width {
	width: 50%;
}

.nav-icon {
	max-width: 30px;
	margin-top: 0px;
}

.card-add {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.logo-footer {
	width: 10%;
	float: none;
}

.carousel {
	background: #d0d3d4;
	margin-top: 20px;
	max-width: 1000px;
	float: none;
}
.carousel-item {
	text-align: center;
	min-height: 260px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.cour {
	margin: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.card-deck {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-items: stretch;
}
.card-deck .card {
	display: block;
	flex-basis: 19.3%;
}

.buttons {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 10px 150px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.buttonC {
	background-color: #007bff;
	color: black;
	border: 2px solid #007bff;
	border-radius: 12px;
}

.buttonC:hover {
	color: white;
	border-radius: 12px;
}

.card-c1 {
	border: 2px solid white;
	border-radius: 20px;
}
