.card-width {
	width: 50%;
}

.nav-icon {
	max-width: 30px;
	margin-top: 0px;
}

.card-add {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.logo-footer {
	width: 10%;
	float: none;
}

.carousel {
	background: #d0d3d4;
	margin-top: 20px;
	max-width: 1000px;
	float: none;
}
.carousel-item {
	text-align: center;
	min-height: 260px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.cour {
	margin: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.card-deck {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-items: stretch;
}
.card-deck .card {
	display: block;
	flex-basis: 19.3%;
}
