<div class="card card-add">
    <div class="card-body">
        <h1 class="text-center">Add New Idea</h1>
        <img class="logo-form" src="/img/logo_transparent.png" alt="logo">
        <form action="/contentlogs" method="POST">
        <div class="form-group">
            <label for="title">Idea</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="title">Content</label>
            <textarea class="form-control" name="details"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block">Log My Idea</button>
        </form>
    </div>
</div>